@import "../../../../styles//variables.module";

.customer_comment_slide {
  display: inline-block;
  width: 675px;
  // overflow-x: auto;
  white-space: initial;
  // margin-left:50px;
  .card {
    padding: 87px 70px 50px 60px;
    border-radius: 25px 85px;
    position: relative;
    background-color: gray;
    margin-right: 5rem;
    margin-left: 100px;
    margin-top: 50px;

    .customer_pic {
      position: absolute;
      top: -3rem;
      left: -3rem;
      border-radius: 50%;
      overflow: hidden;
      border: 10px solid $background-color;
      background-color: $background-color;
    }
  }

  .job {
    padding-top: 60px;
  }

  .customer_pic {
    border: 10px solid #fff;
    height: 112px;
    width: 112px;
  }

  .comma_image {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .customer_comment_slide {
    width: 91vw;

    .card {
      margin-left: 4vw;
      margin-right: 4vw;
      max-width: 86vw;
      width: 415px;
      border-radius: 25px 60px;
      padding: 80px 10vw 55px 10vw;
      height: 380px;
      // margin-right:1rem;

      .customer_pic {
        height: 96px !important;
        width: 96px !important;
        left: 50%;
        transform: translateX(-50%);
      }

      .comment {
        position: absolute;
        top: 60px;
        // height: 200px;
        padding-right: 55px;
      }

      .job {
        padding-top: 60px;
        position: absolute;
        bottom: 70px;
      }
      .name {
        position: absolute;
        bottom: 40px;
      }
    }
  }

  .comma_image {
    width: 100px;
    height: 100px;
    bottom: 0;
    position: absolute;
    right: 0;
  }
}
