@import "../../styles/variables.module";

@media screen and (max-width: 259.98px) {
  .counter_Text_Content {
    color: #f3f3f3;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 17.5px !important;
  }

  .counter_Text {
    color: #fdf5e2;
    font-family: Inter;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: auto;
  }

  .numberBox_Title::after {
    content: "";
    border-bottom: 1px solid #f3f3f3 !important;

    width: 147px;
    height: 1px;
    display: block;
    margin: 46px auto 0;
  }

  .numberBox_Title:last-child::after {
    border: none !important;
  }

  .numberBox_Title {
    padding: 55px 0 0 !important;
  }
}

@media screen and (min-width: 260px) and (max-width: 575.98px) {
  .counter_Text_Content {
    color: #f3f3f3;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 17.5px !important;
  }

  .counter_Text {
    color: #fdf5e2;
    font-family: Inter;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: auto;
  }

  .numberBox_Title::after {
    content: "";
    border-bottom: 1px solid #f3f3f3 !important;

    width: 147px;
    height: 1px;
    display: block;
    margin: 46px auto 0;
  }

  .numberBox_Title:last-child::after {
    border: none !important;
  }

  .numberBox_Title {
    padding: 42px 0 0 !important;
  }
}

@media screen and (max-width: 575.98px) {
  .numberBox {
    display: block !important;
    height: 776.685px !important;
  }

  .numberBox_Title {
    // padding: 45px 0 !important;
    // padding: 50px 0 !important;
    font-size: 58px !important;
  }
}

@media screen and (min-width: 576px) {
  .brNone {
    font-size: 20px !important;
    border-right: 1px solid #fcf7f4 !important;
  }

  .numberBox_Title:last-child {
    border-right: none !important;
  }

  .counter_Text_Content {
    padding-top: 12.25px !important;

    color: #fcf7f4;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .counter_Text {
    color: #fcf7f4;
    font-family: Inter;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

@media screen and (min-width: 768px) {
  .counter_Text_Content {
    width: max-content;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .numberBox_Title {
    font-size: 22px !important;
    padding: unset !important;
  }

  .counter_Text {
    font-size: 25px !important;
  }

  .counter_Text_Content {
    font-size: 12px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .numberBox_Title {
    font-size: 38px !important;
    padding: 0 11px !important;
  }

  .counter_Text {
    font-size: 34px !important;
  }

  .counter_Text_Content {
    font-size: 10.5px !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .numberBox_Title {
    font-size: 40px !important;
    padding: 0 15px !important;
  }

  .counter_Text {
    font-size: 43px !important;
  }

  .counter_Text_Content {
    font-size: 13.5px !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .numberBox_Title {
    padding: 0 29px !important;
  }

  .counter_Text {
    font-size: 46px !important;
  }

  .counter_Text_Content {
    font-size: 15px !important;
  }
}

.numberBox {
  margin-top: 39px;
  width: 100%; /* 1440.782px */
  height: 174.715px;
  background: #35498b;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.numberBox_Title {
  color: #fdf5e2;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0 45px;
  text-align: center;
}
