@import "../../styles/variables.module";

@font-face {
  font-family: Poppins;
  src: url("../../public/assets/fonts/poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: Cal Sans;
  src: url("../../public/assets/fonts/cal-sans/CalSans-SemiBold.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../../public/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@media screen and (min-width: 576px) {
  .efficiency,
  .seamless,
  .costSavings,
  .environmental,
  .dedicated {
    display: flex !important;
    justify-content: space-evenly !important;
  }
}

@media screen and (max-width: 575.98px) {
  .my_Container {
    margin-right: 40.18px !important;
    margin-left: 40.18px !important;
  }

  .ourMission_Text {
    letter-spacing: 1.5px !important;
    padding-top: 66px !important;
  }

  .storeTitle {
    font-size: 40px !important;
    line-height: 60px !important; /* 150% */
    margin-top: 18px !important;
    margin-bottom: 50px !important;
  }

  .storeTitle_Text {
    width: 337.936px !important;
  }

  .about_Persifund_Context p {
    text-align: center !important;
  }

  .seamless_Title h2,
  .environmental_Title h2 {
    line-height: normal !important;
  }

  .storeTitle_Text p {
    line-height: 60px !important;
  }

  .row_Title {
    margin-top: 93.24px !important;
  }

  .about_Persifund_span {
    padding-left: 5px !important;
    font-size: unset !important;
  }

  .about_Persifund_Context p {
    text-align: center !important;
    font-size: 16px !important;
    line-height: normal !important; /* 175% */
  }

  .icon,
  .icon_seamless,
  .icon_environmental,
  .icon_seamless {
    display: grid !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 24px auto 33.62px auto !important;
  }

  .lineIcon_Energy,
  .lineIcon_Energy_seamless,
  .lineIcon_Energy_environmental {
    width: 2px !important;
    height: 24.867px !important;
    margin: 0 auto !important;
    background: #2a438f !important;
  }

  .Icon_Energy {
    margin: 0 auto !important;
    width: 48px !important;
    height: 48px !important;
    text-align: center;
  }

  .Icon_Energy img {
    width: 33.204px;
    height: 33.204px;
  }

  .Icon_Energy_seamless img,
  .Icon_Energy_environmental img {
    width: 33.204px !important;
    height: 33.204px !important;
  }

  .Icon_Energy_seamless,
  .Icon_Energy_environmental {
    width: 48px !important;
    height: 48px !important;
  }

  .centerTitle h1 {
    font-size: 29px !important;
  }

  .seamless {
    flex-direction: column-reverse !important;
  }

  .seamless_Title h2,
  .environmental_Title h2,
  .dedicated_Title h2,
  .costSavings_Title h2,
  .efficiency_Title h2 {
    font-size: 28px !important;
    line-height: normal !important;
  }

  .environmental_Title,
  .dedicated_Title h2 {
    text-align: center !important;
  }

  .centerTitle_Together h1 {
    width: 299.438px !important;
    font-size: 23px !important;
  }

  .delight h2 {
    text-align: center;
    font-size: 33px !important;
    line-height: normal !important;
  }

  .center_Box {
    margin-right: 52.22px !important;
    margin-left: 52.22px !important;
  }

  .dedicated_context p,
  .environmental_context p,
  .efficiency_context p,
  .seamless_context p,
  .costSavings_context p {
    text-align: center !important;
    font-size: 16px !important;
  }

  .dedicated p {
    width: auto !important;
  }

  .seamless {
    display: flex !important;
    flex-direction: column-reverse !important;
  }

  .seamless_context {
    margin: 0 auto;
  }

  .storeTitle_Text p {
    font-size: 34px !important;
    line-height: 60px !important;
  }

  .numberTitle {
    font-size: 22px !important;
    padding-top: 50px !important;
  }
  
  .about_Persifund {
    text-align: center !important;
    margin-bottom: 73.11px !important;
  }

  .about_Persifund h2 {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 25px !important;
  }

  .dedicated {
    display: grid !important;
    justify-content: center !important;
  }

  .environmental_context,
  .seamless_context {
    justify-content: center !important;
  }

  .efficiency_context,
  .costSavings_context {
    display: flex !important;
    justify-content: center !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 991.98px) {
  .environmental_context p,
  .seamless_context p,
  .efficiency_context p,
  .costSavings_context p,
  .dedicated_context p {
    width: auto !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .storeTitle {
    font-size: 34px !important;
  }

  .storeTitle_Text p {
    font-size: 44px !important;
  }

  .about_Persifund {
    text-align: center;
  }

  .about_Persifund h2 {
    font-size: 45px !important;
    padding: 0 !important;
  }

  .centerTitle_Together h1 {
    font-size: 20px !important;
    width: 400px !important;
  }

  .about_Persifund_span {
    font-size: unset;
  }

  .dedicated_Title h2 {
    font-size: 28.3px !important;
  }

  .environmental_Title h2 {
    font-size: 33px !important;
  }

  .seamless_Title h2 {
    font-size: 25.2px !important;
  }

  .delight h2 {
    font-size: 35px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .my_Container {
    margin-right: 43.64px !important;
    margin-left: 45.74px !important;
  }

  .delight h2 {
    font-size: 40px !important;
  }

  .about_Persifund h2,
  .about_Persifund_span {
    font-size: 45px !important;
  }

  .about_Persifund h2 {
    padding: 0 38px !important;
  }

  .try {
    margin-left: 138px;
  }

  .environmental_context p {
    width: auto !important;
  }

  .environmental_Title h2 {
    font-size: 25px !important;
  }

  .storeTitle_Text p {
    font-size: 55px !important;
  }

  .seamless_Title h2 {
    font-size: 32px !important;
  }
}

@media screen and (max-width: 991.98px) {
  .efficiency_Title,
  .costSavings_Title,
  .environmental_Title,
  .dedicated_Title {
    padding: 0 !important ;
  }

  .environmental_Title,
  .environmental_context {
    margin: 0 auto;
  }

  .costSavings_context,
  .environmental_context,
  .dedicated_context,
  .seamless_context,
  .efficiency_context {
    position: unset !important;
  }
}

@media screen and (min-width: 992px) {
  .about_Persifund_underline svg {
    margin-left: 100px;
  }

  .about_Persifund h2 {
    padding: 0 !important;
  }

  .row_Title {
    justify-content: space-around !important;
  }

  .about_Persifund {
    display: flex !important;
    justify-content: end !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .my_Container {
    margin-right: 53.64px !important;
    margin-left: 55.74px !important;
  }

  .delight h2 {
    font-size: 28px !important;
  }

  .about_Persifund h2,
  .about_Persifund_span {
    font-size: 44px !important;
  }

  .about_Persifund h2 {
    padding: 0 38px !important;
  }

  .environmental_Title h2 {
    font-size: 32px !important;
  }

  .seamless_Title h2 {
    font-size: 44px !important;
  }
}

@media screen and (min-width: 1200px) {
  .my_Container {
    margin-right: 93.64px !important;
    margin-left: 95.74px !important;
  }

  .delight h2 {
    font-size: 48px !important;
  }

  .about_Persifund_underline svg {
    margin-left: 200px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .about_Persifund_Context {
    width: 504px !important;
  }

  .about_Persifund h2 {
    font-size: 53px !important;
  }

  .about_Persifund_span {
    font-size: 53px !important;
  }
}

@media screen and (min-width: 1400px) {
  .about_Persifund_Context p {
    width: 624px !important;
  }
}

.main {
  border: 1px solid #000;
  background: linear-gradient(180deg, #fcf7f4 100%, #fff 100%);
  padding-top: 90px;
  min-height: 80vh;
  // padding-bottom: 204px;
  // max-width: 1440px;
  text-align: center;
  margin: 0 auto;
}

.ourMission_Text {
  color: #d6635b;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 200% */
  letter-spacing: 3px;
  padding-top: 85px;
}

.storeTitle {
  margin-top: 35px;
}

.storeTitle_Text p {
  color: #2a438f;
  text-align: center;
  font-family: Cal Sans;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; /* 107.692% */
}

.storeTitle_Text {
  width: 1014.736px;
}

.numberTitle {
  color: rgba(42, 67, 143, 0.85);
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 200% */
  letter-spacing: 0.9px;
  padding-top: 85px;
}

.links {
  flex-direction: column;
}

.about_Persifund h2 {
  color: #2a438f;
  font-family: Cal Sans;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; /* 107.692% */
  padding: 0 63px;
}

.about_Persifund_span {
  background: linear-gradient(90deg, #7a00d0 12.5%, #ef007e 83.33%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Cal Sans;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
}

.about_Persifund_Context p {
  color: rgba(42, 67, 143, 0.85);
  text-align: justify;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.my_Container {
  margin-right: 93.64px;
  margin-left: 95.74px;
}

.row_Title {
  margin-top: 120px;
}

.centerTitle {
  color: #2a438f;
  text-align: center;

  margin-top: 10%;
  margin-bottom: 16%;
}

.centerTitle h1 {
  font-family: Cal Sans;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; /* 107.692% */
  font-size: 65px;
}

.icon {
  margin-top: -85px;
}

.efficiency_Title {
  color: #2a438f;
  text-align: end;
  font-family: Cal Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; /* 155.556% */
}

.efficiency_context p {
  color: rgba(42, 67, 143, 0.85);
  text-align: justify;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 399.853px;
}

.lineIcon_Energy {
  margin: 0 auto;
  width: 2px;
  height: 268.468px;
  background: linear-gradient(88deg, #2a438f 25%, rgba(252, 247, 245, 0) 100%);
}

.Icon_Energy {
  width: 60px;
  height: 60px;
  background: #2a438f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.icon_seamless,
.icon_environmental {
  margin-top: -85px;
}

.lineIcon_Energy_seamless,
.lineIcon_Energy_environmental {
  margin: 0 auto;
  width: 2px;
  height: 268.468px;
  background: linear-gradient(88deg, #2a438f 25%, rgba(252, 247, 245, 0) 100%);
}

.lineIcon_Energy_seamless {
  margin: 0 auto;
}

.environmental_Title h2 {
  font-size: 39px;
}

.Icon_Energy_seamless,
.Icon_Energy_environmental {
  width: 60px;
  height: 60px;
  background: #2a438f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.seamless_Title h2,
.environmental_Title h2 {
  color: #2a438f;
  font-family: Cal Sans;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
  font-size: 45px;
}

.seamless_context {
  display: flex !important;
  justify-content: end;
}

.environmental_context p,
.seamless_context p {
  color: rgba(42, 67, 143, 0.85);
  text-align: justify;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 399.853px;
}

.environmental_context {
  display: flex;
  justify-content: end;
}

.costSavings,
.seamless,
.dedicated,
.environmental {
  margin-top: 19.6% !important;
}

.costSavings_Title {
  color: #2a438f;
  text-align: end;
  font-family: Cal Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; /* 155.556% */
}

.costSavings_context p {
  color: rgba(42, 67, 143, 0.85);
  text-align: justify;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 399.853px;
}

.dedicated_Title h2 {
  color: #2a438f;
  text-align: end;
  font-family: Cal Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; /* 155.556% */
}

.dedicated_context p {
  color: rgba(42, 67, 143, 0.85);
  text-align: justify;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 399.853px;
}

.centerTitle_Together {
  margin-top: 11.3%; // 162px
}

.centerTitle_Together h1 {
  text-align: center;
  width: 905.723px;
  color: rgba(42, 67, 143, 0.85);
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.delight h2 {
  color: #2a438f;
  font-family: Cal Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px; /* 150% */
}

@media screen and (max-width: 259.98px) {
  .counter_Text_Content {
    color: #f3f3f3;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 17.5px !important;
  }

  .counter_Text {
    color: #fdf5e2;
    font-family: Inter;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: auto;
  }

  .numberBox_Title::after {
    content: "";
    border-bottom: 1px solid #f3f3f3 !important;

    width: 147px;
    height: 1px;
    display: block;
    margin: 46px auto 0;
  }

  .numberBox_Title:last-child::after {
    border: none !important;
  }

  .numberBox_Title {
    padding: 55px 0 0 !important;
  }
}

@media screen and (min-width: 260px) and (max-width: 575.98px) {
  .counter_Text_Content {
    color: #f3f3f3;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 17.5px !important;
  }

  .counter_Text {
    color: #fdf5e2;
    font-family: Inter;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: auto;
  }

  .numberBox_Title::after {
    content: "";
    border-bottom: 1px solid #f3f3f3 !important;

    width: 147px;
    height: 1px;
    display: block;
    margin: 46px auto 0;
  }

  .numberBox_Title:last-child::after {
    border: none !important;
  }

  .numberBox_Title {
    padding: 42px 0 0 !important;
  }
}

@media screen and (min-width: 576px) {
  .brNone {
    font-size: 20px !important;
    border-right: 1px solid #fcf7f4 !important;
  }

  .numberBox_Title:last-child {
    border-right: none !important;
  }

  .counter_Text_Content {
    padding-top: 12.25px !important;

    color: #fcf7f4;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .counter_Text {
    color: #fcf7f4;
    font-family: Inter;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .counter_Text {
    font-size: 25px !important;
  }

  .counter_Text_Content {
    font-size: 12px !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .numberBox_Title {
    padding: 0 29px !important;
  }

  .counter_Text {
    font-size: 46px !important;
  }

  .counter_Text_Content {
    font-size: 15px !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .numberBox_Title {
    padding: 0 15px !important;
  }

  .counter_Text {
    font-size: 43px !important;
  }

  .counter_Text_Content {
    font-size: 13.5px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .numberBox_Title {
    padding: 0 11px !important;
  }

  .counter_Text {
    font-size: 34px !important;
  }

  .counter_Text_Content {
    font-size: 10.5px !important;
  }
}

@media screen and (min-width: 768px) {
  .counter_Text_Content {
    width: max-content;
  }
}
