@import "../../styles/variables.module";

.call_to_action {
  border-radius: 45px;
  background: #bcdad9;
  text-align: center;
  padding-top: 65px;
  padding-bottom: 65px;
  margin-top: 100px;
  margin-bottom: 100px;

  .title {
    font-size: 55px;
    font-weight: 600;
    color: #0a2162;
    font-family: $CalSans-SemiBold;
  }

  .description {
    font-size: 25px;
    color: #0a2162;
    margin-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.connect_store_button {
  @include buttonStyle(7.5px, #d6635b);
  background: #d6635b;
  padding-right: 100px !important;
  padding-left: 100px !important;
  &:hover {
    color: #fff;
  }
}
