activeJourney === 1 && (
<>

  <div className={` ${styles} col-9 col-sm-6 p-0 `}>

    <section onClick={()=> setActiveJourney(1)}
      className={`${activeJourney === 1 && styles.customerBox_Blue}
      ${ activeJourney === 2 && styles.customerBox_White } mx-auto `} >

      <section className={`${styles.customerIcon} d-none d-sm-inline`}>
        <Image src={ (activeJourney===1 && customerIcon_White) || (activeJourney===2 && customerIcon_Blue) }
          alt="customerIcon" />
      </section>

      <section className={`${styles.customerIcon} d-sm-none`}>
        <Image src={ (activeJourney===1 && customerIcon_White_Mobile) || (activeJourney===2 && customerIcon_Blue_Mobile)
          } alt="customerIcon" />
      </section>

      <h2 className={`${activeJourney===1 && styles.customerWhite} ${activeJourney===2 && styles.customerBlue} m-0`}>
        CUSTOMER
      </h2>

    </section>

    {activeJourney === 1 && (
    <>
      <section className={` ${styles.leftCustomer} d-none d-sm-inline`}>
        <Image src={leftCustomer} alt="customer" />
      </section>
    </>
    )}

  </div>

</>


activeJourney === 2 && (
<>

  <div className={` ${styles} col-3 col-sm-6 p-0 `}>

    <section onClick={()=> setActiveJourney(1)}
      className={`${activeJourney === 1 && styles.customerBox_Blue}
      ${ activeJourney === 2 && styles.customerBox_White } mx-auto `} >

      <section className={`${styles.customerIcon} d-none d-sm-inline`}>
        <Image src={ (activeJourney===1 && customerIcon_White) || (activeJourney===2 && customerIcon_Blue) }
          alt="customerIcon" />
      </section>

      <section className={`${styles.customerIcon} d-sm-none`}>
        <Image src={ (activeJourney===1 && customerIcon_White_Mobile) || (activeJourney===2 && customerIcon_Blue_Mobile)
          } alt="customerIcon" />
      </section>

      <h2 className={`${activeJourney===1 && styles.customerWhite} ${activeJourney===2 && styles.customerBlue} m-0`}>
        CUSTOMER
      </h2>

    </section>

    {activeJourney === 1 && (
    <>
      <section className={` ${styles.leftCustomer} d-none d-sm-inline`}>
        <Image src={leftCustomer} alt="customer" />
      </section>
    </>
    )}

  </div>

</>