@import "./variables.module";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.otherPage {
  padding-top: 90px;
  min-height: 80vh;
}

.call_to_action_button {
  color: #f3f3f3;
  background: #d6635b;
  border-radius: 30px 15px;
  padding: 15px 70px;
  font-size: 17px;
}

/* font face */

/* poppins */
@font-face {
  font-family: Poppins-Light;
  src: url("../public/assets/fonts/poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("../public/assets/fonts/poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../public/assets/fonts/poppins/Poppins-Bold.ttf");
}

// Cal Sans

@font-face {
  font-family: CalSans-SemiBold;
  src: url("../public/assets/fonts/cal-sans/CalSans-SemiBold.woff");
  src: url("../public/assets/fonts/cal-sans/CalSans-SemiBold.woff2");
  src: url("../public/assets/fonts/cal-sans/CalSans-SemiBold.ttf");
}

.container {
  // margin-right: 100px !important;
  // margin-left: 100px !important;
}

.service_horizontal_line {
  height: 101.60016632080087px;
  border: 1px solid #f3f3f3;
  width: 1px;
  position: absolute;
  top: 12%;
}

@media screen and (max-width: 576px) {
  .my_container {
    margin-right: $container-sm !important;
    margin-left: $container-sm !important;
  }

  .otherPage {
    padding-top: 70px;
  }

  .my_fluid_container {
    margin-right: $container-sm !important;
    margin-left: $container-sm !important;
  }
}

@media screen and (min-width: 577px) {
  .my_container {
    margin-right: 50px !important;
    margin-left: 50px !important;
  }
}

@media screen and (min-width: 768px) {
  .my_container {
    margin-right: 50px !important;
    margin-left: 50px !important;
  }

  .my_fluid_container {
    // margin-right: 5px !important;
    margin-left: $fluid-container-md !important;
  }
}

@media screen and (min-width: 992px) {
  .my_container {
    margin-right: 50px !important;
    margin-left: 50px !important;
  }
}

@media screen and (min-width: 1200px) {
  .my_container {
    // width: 100%;
    margin-right: 50px !important;
    margin-left: 50px !important;
  }

  .my_fluid_container {
    margin-right: 23px !important;
    margin-left: 23px !important;
  }
}

@media screen and (min-width: 1400px) {
  .my_container {
    // max-width: 1350px !important;
    margin-right: 100px !important;
    margin-left: 100px !important;
  }

  .my_fluid_container {
    margin-right: 23px !important;
    margin-left: 23px !important;
  }
}

// BUTTON
@mixin buttonStyle($x) {
  // font-size: 2$xpx;
  // padding:2px*$x px 4*$x px;
  // border-radius: 3*$x $x 3*$x $x;

  padding: $x;
}

.button {
  @include buttonStyle(16px);
}
