@import "./variables.module";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.otherPage {
  padding-top: 90px;
  min-height: 80vh;
}

.call_to_action_button {
  color: #f3f3f3;
  background: #d6635b;
  border-radius: 30px 15px;
  padding: 15px 70px;
  font-size: 17px;
}

/* font face */

/* poppins */
@font-face {
  font-family: Poppins-Light;
  src: url("../public/assets/fonts/poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("../public/assets/fonts/poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../public/assets/fonts/poppins/Poppins-Bold.ttf");
}

// Cal Sans

@font-face {
  font-family: CalSans-SemiBold;
  src: url("../public/assets/fonts/cal-sans/CalSans-SemiBold.woff");
  src: url("../public/assets/fonts/cal-sans/CalSans-SemiBold.woff2");
  src: url("../public/assets/fonts/cal-sans/CalSans-SemiBold.ttf");
}

// .container {
// margin-right: 100px !important;
// margin-left: 100px !important;
// }

@media screen and (max-width: 576px) {
  .my_container {
    margin-right: $container-sm !important;
    margin-left: $container-sm !important;
  }

  .otherPage {
    padding-top: 70px;
  }

  .my_fluid_container {
    margin-right: $container-sm !important;
    margin-left: $container-sm !important;
  }
}

@media screen and (min-width: 577px) {
  .my_container {
    margin-right: 50px !important;
    margin-left: 50px !important;
  }
}

@media screen and (min-width: 768px) {
  .my_container {
    margin-right: 50px !important;
    margin-left: 50px !important;
  }

  .my_fluid_container {
    // margin-right: 5px !important;
    margin-left: $fluid-container-md !important;
  }
}

@media screen and (min-width: 992px) {
  .my_container {
    margin-right: 50px !important;
    margin-left: 50px !important;
  }
}

@media screen and (min-width: 1200px) {
  .my_container {
    // width: 100%;
    margin-right: 50px !important;
    margin-left: 50px !important;
  }

  .my_fluid_container {
    margin-right: 23px !important;
    margin-left: 23px !important;
  }
}

@media screen and (min-width: 1400px) {
  .my_container {
    // max-width: 1350px !important;
    margin-right: 100px !important;
    margin-left: 100px !important;
  }

  .my_fluid_container {
    margin-right: 23px !important;
    margin-left: 23px !important;
  }
}

// BUTTON
@mixin buttonStyle($x) {
  // font-size: 2$xpx;
  // padding:2px*$x px 4*$x px;
  // border-radius: 3*$x $x 3*$x $x;
  padding: $x;
}

.button {
  @include buttonStyle(16px);
}

///////////////////////////////////////////// Start My Codes New Page Styles //////////////////////////////////////////

// .main {
//   color: white;
// }

// // .topMain {
// //   height: 100vh;
// // }

// @media screen and (min-width: 1400px) {
//   .topMainTitleBox {
//     padding-left: 123px !important;
//   }
// }

// @media screen and (max-width: 1399.98px) {
//   .topMainTitleBox {
//     padding-left: 74px !important;
//   }
// }

// @media screen and (max-width: 1600px) {
//   .cardBoxRow {
//     justify-content: space-evenly;
//   }
// }
// @media screen and (min-width: 1200px) {
//   .topMainTitle h1 {
//     font-size: 70px !important;
//   }
// }

// @media screen and (min-width: 992px) and (max-width: 1199.98px) {
//   .topMainTitle h1 {
//     font-size: 65px !important;
//   }
// }

// @media screen and (min-width: 768px) and (max-width: 991.98px) {
//   .topMainTitle h1 {
//     font-size: 49px !important;
//   }
// }

// @media screen and (min-width: 576px) and (max-width: 767.98px) {
//   .topMainTitle h1 {
//     font-size: 28px !important;
//   }
// }

// @media screen and (max-width: 575.98px) {
//   .topMainTitle h1 {
//     font-size: 40px !important;
//   }
// }

// @media screen and (max-width: 420px) {
//   .topMainTitle h1 {
//     font-size: 24px !important;
//   }
// }

// .topMainTitle h1 {
//   //   position: absolute;
//   //   left: 6.41%;
//   //   right: 47.06%;
//   //   top: 14.3%;
//   //   bottom: 81.9%;
//   font-family: "Cal Sans";
//   font-style: normal;
//   font-weight: 600;
//   // font-size: 70px;
//   line-height: 84px;
//   color: #fdf5e2;
// }

// .topMainSubTitle {
//   //   position: absolute;
//   //   left: 6.41%;
//   //   right: 50.2%;
//   //   top: 19.2%;
//   //   bottom: 78%;
//   font-family: "Poppins";
//   font-style: normal;
//   font-weight: 500;
//   font-size: 20px;
//   line-height: 30px;
//   color: #bebebe;
// }

// .topMainCenter {
//   margin-top: 90px !important;
//   // position: absolute;
//   // top: 90px;
//   // right: 28.5%;
//   // left: 37.8%;
// }

// // .topMainCenter img {
// //   width: 512px;
// //   height: 210px;
// // }

// // .topMainRight {
// //   position: absolute;
// //   // left: 67%;
// //   right: 0%;
// //   top: 233px;
// //   // bottom: 55.06%;
// // }

// // .topMainRight img {
// //   width: 500px;
// //   height: 460px;
// // }

// // .test {
// //   width: 100%;
// //   height: 100vh;
// // }

// .searchBox {
//   //   position: absolute;
//   width: 240.2px;
//   height: 44.95px;
//   //   left: 6.41%;
//   //   top: 36.17%;
// }

// .searchBox input {
//   border: 1px solid #dfdfdf;
//   background: rgba(217, 217, 217, 0.3);
//   color: rgba(255, 255, 255, 0.7);
//   padding: 5px 0 5px 40px;
//   outline: none;
//   border-radius: 5px;
// }

// // .searchBoxIcon {
// //   position: absolute;
// //   left: 14px;
// //   top: 12.5px;
// // }

// // .searchIcon {
// //   position: absolute;
// //   width: 12.82px;
// //   height: 12.82px;
// //   left: 121.02px;
// //   top: 814.74px;
// //   border: 1.5px solid rgba(255, 255, 255, 0.7);
// //   border-radius: 50%;
// // }

// // .searchIconLine {
// //   position: absolute;
// //   width: 9px;
// //   height: 0px;
// //   border: 1.5px solid rgba(255, 255, 255, 0.7);
// //   transform: rotate(44.88deg);
// //   left: 8.9px;
// //   border-radius: 2px;
// //   top: 11.9px;
// // }

// .searchBox input::placeholder {
//   color: rgba(255, 255, 255, 0.7);
// }

// // .text {
// // margin: 30px 110px;
// //   position: absolute;
// //   left: 6.41%;
// //   top: 40.17%;
// // }

// // .text h6 {
// //   font-family: "Poppins";
// //   font-style: normal;
// //   font-weight: 500;
// //   font-size: 17px;
// //   line-height: 26px;
// //   color: #ffffff;
// //   opacity: 0.85;
// // }

// // .cardBox {
// //   position: absolute;
// //   display: flex;
// //   left: 23%;
// //   top: 40%;
// //   width: 1072px;
// //   height: 330px;
// // }

// .cardBoxShopify {
//   //   position: absolute;
//   width: 330px !important;
//   height: 330px;
//   background: #ffffff;
//   box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.11);
//   border-radius: 35px;
// }

// // .cardBoxShopify img {
// // position: absolute;
// // left: 38.3%;
// // top: 13%;
// // }

// .cardBoxShopifyplus {
//   //   position: absolute;
//   width: 330px !important;
//   height: 330px;
//   //   left: 33.5%;
//   background: #ffffff;
//   box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.11);
//   border-radius: 35px;
//   z-index: 9;
// }

// .cardBoxShopifyplus img {
//   width: 260px;
//   height: 150px;

//   //   position: absolute;
//   //   left: 12%;
//   //   top: 6.8%;
//   //   width: 260px;
//   //   height: 172px;
// }

// .cardBoxPostnord {
//   //   position: absolute;
//   width: 330px !important;
//   height: 330px;
//   //   left: 67%;
//   background: #ffffff;
//   box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.11);
//   border-radius: 35px;
// }

// // .cardBoxPostnord img {
// //   position: absolute;
// //   left: 34%;
// //   top: 7%;
// // }

// .cardBoxComment {
//   // position: absolute;
//   // left: 25%;
//   // top: 59%;
//   font-family: "Poppins";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 13px;
//   line-height: 20px;
//   text-align: justify;
//   color: #707070;
//   height: 65px;
//   width: 166px;
// }

// .cardBoxBtn {
//   // position: absolute;
//   // left: 33%;
//   // top: 85%;
//   width: 108.274px;
//   height: 29.897px;
//   justify-content: center;
//   align-items: center;
//   display: inline-flex;
//   font-family: "Poppins";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 13px;
//   line-height: 20px;
//   color: #00267e;
//   text-align: center;
//   background: #eceeff;
//   box-shadow: inset 0px 3px 12px rgba(0, 0, 0, 0.11);
//   border-radius: 30px;
//   cursor: pointer;
// }

// .cardBoxTitleShopify {
//   // position: absolute;
//   // left: 35%;
//   // top: 45%;
//   font-family: "Cal Sans";
//   font-style: normal;
//   font-weight: 600;
//   font-size: 32px;
//   line-height: 38px;
//   color: #151517;
// }

// .cardBoxTitlePostnord {
//   //   position: absolute;
//   //   left: 29%;
//   //   top: 40%;
//   font-family: "Cal Sans";
//   font-style: normal;
//   font-weight: 600;
//   font-size: 35px;
//   line-height: 42px;
//   color: #151517;
// }

// .arrowBox {
//   position: absolute;
//   display: inherit;
//   width: 42.42px;
//   left: 66%;
//   height: 42.42px;
//   border: 2px solid #ef4ee8;
//   border-radius: 50%;
// }
// .arrowBox1 {
//   position: absolute;
//   top: 43.5%;
// }

// .arrowBox2 {
//   position: absolute;
//   bottom: 43.5%;
// }

// .arrowBox3 {
//   position: absolute;
//   bottom: 30.8%;
// }

// .arrowBoxSpan {
//   width: 22px;
//   height: 1.7px;
//   background-color: #ef4ee8;
//   left: 7px;
//   border-radius: 5px;
//   position: absolute;
//   top: 19px;
// }

// .arrowBoxSpan:after {
//   content: "";
//   display: inline-block;
//   width: 17px;
//   height: 1.5px;
//   background-color: #ef4ee8;
//   transform: rotate(45deg);
//   position: absolute;
//   right: -3px;
//   border-radius: 5px;
//   bottom: 6px;
// }

// .arrowBoxSpan:before {
//   content: "";
//   display: inline-block;
//   width: 17px;
//   height: 1.5px;
//   background-color: #ef4ee8;
//   transform: rotate(-45deg);
//   position: absolute;
//   right: -3px;
//   border-radius: 5px;
//   bottom: -5px;
// }

// // .centerMain {
// //   height: 80vh;
// // }

// // .bottomMain {
// //   position: relative;
// //   width: 1318.88px;
// //   height: 379.48px;
// //   border: 1px solid gray;
// //   margin: 0 auto;
// //   background: linear-gradient(-94deg, #0b1bab -90%, #17557f 84%, #0f968e 102%);
// //   border-radius: 45px;
// // }

// // .bottomMainBox {
// //   text-align: center;
// // }

// // .bottomMainTitle {
// //   position: absolute;
// //   left: 24.04%;
// //   top: 9%;
// //   font-family: "Cal Sans";
// //   font-style: normal;
// //   font-weight: 600;
// //   font-size: 55px;
// //   line-height: 66px;
// //   color: #eaeaea;
// // }

// // .bottomMainContext {
// //   position: absolute;
// //   left: 18.788%;
// //   top: 33%;
// //   font-family: "Poppins";
// //   font-style: normal;
// //   font-weight: 400;
// //   font-size: 25px;
// //   line-height: 38px;
// //   color: #f7f9ff;
// // }

// .bottomMainLink {
//   //   position: absolute;
//   width: 302.11px;
//   height: 69.49px;
//   //   left: 40%;
//   //   top: 61%;
//   background: #ffa005;
//   border-radius: 30px 15px;
//   align-items: center;
//   display: flex;
//   justify-content: center;
//   transition: all 0.2s ease;
// }

// .bottomMainLink:hover {
//   border-radius: 24px;
// }

// .bottomMainLink a {
//   color: #131313;
//   text-decoration: none;
//   font-family: "Poppins";
//   font-style: normal;
//   font-weight: 500;
//   font-size: 17px;
//   line-height: 26px;
// }

// // @media screen and (min-width: 4600px) {
// //   .topMain {
// //     height: 30vh;
// //   }

// //   .centerMain {
// //     height: 30vh;
// //   }
// // }

// // @media screen and (min-width: 3000px) {
// //   .topMain {
// //     height: 30vh;
// //   }

// //   .centerMain {
// //     height: 52vh;
// //   }
// // }

// // @media screen and (max-width: 1100px) {
// //   .topMain {
// //     height: 92vh;
// //   }

// //   .centerMain {
// //     height: 80vh;
// //   }
// // }

// ////
// ///
// ///
// ///
// ///
// ///

// // @media screen and (min-width: 4600px) {
// //   .topMain {
// //     height: 30vh;
// //   }

// //   .centerMain {
// //     height: 30vh;
// //   }
// // }

// // @media screen and (max-width: 965px) {
// //   .bottomMain {
// //     height: 43vh !important;
// //   }
// // }

// // @media screen and (max-width: 820px) {
// //   .bottomMain {
// //     height: 50vh !important;
// //   }
// // }

// @media screen and (min-width: 576px) {
//   .topMainCenter {
//     margin-top: 90px !important;
//   }
// }

// @media screen and (max-width: 575.98px) {
//   .topMainCenter {
//     margin-top: 70px !important;
//   }
// }

// @media screen and (max-width: 450px) {
//   .bottomMainTitle {
//     font-size: 40px !important;
//   }
// }

// .bottomMain {
//   background-image: url("../public/assets/images/bottomMainBg.png");
//   // margin: 0 auto;
//   // display: flex;
//   // width: 1318.875px;
//   // height: 379.477px;
//   justify-content: center;
//   align-items: center;
//   border-radius: 45px;
//   // height: 38.9vh;
//   background-size: cover;
//   // height: auto;
// }

// .bottomMainBox {
//   width: 1024px;
//   // height: 267.989px;
// }

// .bottomMainTitle {
//   color: #eaeaea;
//   font-size: 55px;
//   font-family: Cal Sans;
//   font-weight: 600;
// }

// .bottomMainContext {
//   color: #f6f9ff;
//   text-align: center;
//   font-size: 25px;
//   font-family: Poppins;
// }

// .bottomMainLink {
//   margin: 0 auto;
// }
